<div xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
	<main>
		<form style="margin-left: 150px" th:action="@{/security/forgotpassword}"
			method="post" class="col-sm-8 col-sm-offset">
			<div class="panel panel-primary">
				<div class="container">
					<div class="row">
						<div
							class="col-md-6 col-xs-12 wrapbox-account wrapbox-heading-account">
							<div class="header-page">
								<h1>Quên mật khẩu</h1>
							</div>
						</div>
						<div
							class="col-md-6 col-xs-9 wrapbox-account wrapbox-content-account">
							<div style="width: 400px;" class="user-box login-box">
								
								<div class="user-input">
									<input required="" type="email" value="" name="email"
										id="email" placeholder="Email">
								</div>
								<div class="user-action">
									<div class="login-btn-wrap button dark">
										<input class="btn btn-login" type="submit" value="Lấy mã">
									</div>
								</div>
								<br>
								<div class="link-login">
									<a th:href="@{/security/login/registerform}" title="Đăng ký">Đăng ký</a>
								</div>
								<div class="link-login">
									<a th:href="@{/security/login/changepassform}">Đổi mật khẩu</a>
								</div>
								<hr>
								<hr>
								<p style="text-align: center; color: red;" th:text="${message}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</main>
</div>