
<div xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
	<main>
		<form style="margin-left: 150px" th:action="@{/security/register}"
			method="post" class="col-sm-8 col-sm-offset">
			<div class="panel panel-primary">
				<div class="container">
					<div class="row">
						<div
							class="col-md-6 col-xs-12 wrapbox-account wrapbox-heading-account">
							<div class="header-page">
								<h1>Đăng ký</h1>
							</div>
						</div>
						<div
							class="col-md-6 col-xs-12 wrapbox-account wrapbox-content-account">
							<div style="width: 400px;" class="user-box login-box">
								<div  class="user-input">
									<input required="" type="text" value="" name="username"
										id="user-email" placeholder="Tên đăng nhập">
								</div>
								<div class="user-input">
									<input required="" type="password" value="" name="password"
										id="user-password" placeholder="Mật khẩu" size="16">
								</div>
								<div class="user-input">
									<input required="" type="text" value="" name="fullname"
										id="user-fullname" placeholder="Họ và tên">
								</div>
								<div class="user-input">
									<input required="" type="email" value="" name="email"
										id="email" placeholder="Email">
								</div>
								<div class="user-action">
									<div class="login-btn-wrap button dark">
										<input class="btn btn-login" type="submit" value="Đăng ký">
									</div>
								</div>
								<br>
								<div class="link-login">
									<a th:href="@{/security/login/forgotpassform}">Quên mật khẩu ?</a>
								</div>
								<div class="link-login">
									<a th:href="@{/security/login/changepassform}">Đổi mật khẩu</a>
								</div>
								<hr>
								<hr>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</form>
	</main>
</div>