<div xmlns:th="http://www.thymeleaf.org">
	<div class="contact contact-index">
		<span><img src="/assets/images/AnhCat/ghe.png"
			alt="Trải nghiệm cùng H-FURNITURE"></span>
		<div class="container">
			<div class="row contact-row">
				<div class="col-lg-6 col-md-5 ">
					<h2 class="title">
						Trải nghiệm dịch vụ <br> <strong> cùng H-FURNITURE
							ngay </strong>
					</h2>
				</div>
				<div class="col-lg-6 col-md-7">
					<p class="mb-1 text-white">Thông tin liên hệ</p>
					<div class="form-group">
						<input type="text" placeholder="Email/Số điện thoại">
						<button class="savePhone">Gửi</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>