<div xmlns:th="http://www.thymeleaf.org">
	<footer class="w-100" style="background: #363636">
		<div class="container">
			<div class="row mt-3 mb-3">
				<div class="col-md-6">
					<h5>
						THÔNG TIN CHUNG <span class="line-remove" style="width: 78px;"></span>
					</h5>
					<h4 class="mt-2 pt-2 com-name">CỬA HÀNG NỘI THẤT
						H-FURNITURE</h4>
					<p class="com-phone">
						<i class="fas fa-phone-alt"></i> <a href="#" title="0999.999.999">0999
							999 999</a>
					</p>
					<p class="com-email">
						<i class="fas fa-envelope"></i> <a href="#"
							title="cskh@hoanghoan.vn">fptpolytechnich@gmail.com</a>
					</p>
					<address class="com-address">
						<i style="width: 22px;" class="fas fa-map-marker-alt"></i>Công
						viên phần mềm Quang Trung, Quận 12 , TP HCM
					</address>
				</div>
				<div class="col-md-3">
					<h5>
						VỀ CHÚNG TÔI <span class="line-remove" style="width: 78px;"></span>
					</h5>
					<ul>
						<li><a href="" title="Giới thiệu">Giới thiệu</a></li>
						<li><a href="" title="Sản phẩm">Sản phẩm</a></li>
						<li><a href="" title="Liên hệ">Liên hệ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>