<div xmlns:th="http://www.thymeleaf.org">
	<div class="news">
		<div class="container">
			<h2 class="header-news">Tin tức</h2>
			<div class="row">
				<div class="col-lg-7">
					<div class="box">
						<div class="img">
							<img src="/assets/images/AnhCat/tt-0.png"
								alt="Cách chọn Sofa cho phòng khách nhà bạn thêm phần sang trọng"
								class="w-100">
						</div>
						<div class="news-content">
							<p class="title">
								<a href="#"> Cách chọn Sofa cho phòng khách nhà bạn thêm
									phần sang trọng </a>
							</p>
							<div class="desc">
								<p>Độ tuổi khởi nghiệp và tự lập ngày càng trẻ hóa trong xã
									hội hiện đại thời nay, thế nên việc “thiết kế căn hộ chung cư
									mini 2 phòng ngủ”</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 ">
					<ul>
						<li class="d-flex">
							<div class="img">
								<img src="/assets/images/AnhCat/tt-1.png"
									alt="Trang trí phòng khách cho thêm năng động">
							</div>
							<div class="content">
								<p class="title">
									<a href="#"> Trang trí phòng khách cho thêm năng động </a>
								</p>
								<div class="desc sub-news-content">Sự thật là chúng ta
									dành hết 1/3 cuộc đời chỉ để ngủ, vì thế việc tạo được một giấc
									ngủ ngon là một ...</div>
							</div>
						</li>
						<li class="d-flex">
							<div class="img">
								<img src="/assets/images/AnhCat/tt-2.png"
									alt="Cập nhật xu hướng phòng khách phong cách tối giản">
							</div>
							<div class="content">
								<p class="title">
									<a href="#"> Cập nhật xu hướng phòng khách phong cách tối
										giản </a>
								</p>
								<div class="desc sub-news-content">Sự thật là chúng ta
									dành hết 1/3 cuộc đời chỉ để ngủ, vì thế việc tạo được một giấc
									ngủ ngon là một ...</div>
							</div>
						</li>
						<li class="d-flex">
							<div class="img">
								<img src="/assets/images/AnhCat/tt-3.png"
									alt="Cách sắp xếp vị trí bàn ăn và nhà bếp một cách rộng rãi">
							</div>
							<div class="content">
								<p class="title">
									<a href="#"> Cách sắp xếp vị trí bàn ăn và nhà bếp một cách
										rộng rãi </a>
								</p>
								<div class="desc sub-news-content">Sự thật là chúng ta
									dành hết 1/3 cuộc đời chỉ để ngủ, vì thế việc tạo được một giấc
									ngủ ngon là một ...</div>
							</div>
						</li>
					</ul>
					<div>
						<a href="#" class="see-more"> Xem thêm <i
							class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>