<div xmlns:th="http://www.thymeleaf.org">
	<div class="partner">
		<div class="container">
			<h2 class="header-ptn">Đối tác</h2>

			<div class="slide-partner">
				<div class="ptn-item">
					<div class="img">
						<img src="/assets/images/vinpearl.png" alt="">
					</div>
				</div>
				<div class="ptn-item">
					<div class="img">
						<img src="/assets/images/muongthanh.png" alt="">
					</div>
				</div>
				<div class="ptn-item">
					<div class="img">
						<img src="/assets/images/sheraton.png" alt="">
					</div>
				</div>
				<div class="ptn-item">
					<div class="img">
						<img src="/assets/images/tch.png" alt="">
					</div>
				</div>
				<div class="ptn-item">
					<div class="img">
						<img src="/assets/images/marvella.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>